html {
    background-color: #fff
}

body {
    width: 100% !important;
    overflow-x: hidden;
    margin: 0 auto !important;
    padding: 0 !important;
    opacity: 0;
    transition: .3s
}

h1, p, span {
    margin: 0 !important
}

.vc_row-has-fill > .vc_column_container > .vc_column-inner {
    padding-top: 0 !important
}

.wpb_content_element {
    margin: 0 !important
}

.vc_column-inner {
    padding: 0 !important
}

.wrapper {
    max-width: 1192px;
    margin: 0 auto !important
}

.crop {
    overflow: hidden !important
}

.vc_row {
    margin: 0 !important
}

a:hover {
    transition: .3s
}

.center {
    width: 100%;
    height: 100%;
    display: table
}

.center .center-anchor {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle
}

.bobbing_arrow {
    display: none !important
}
