.card-container {
    width: 13%;
    padding-left: 80px;
    padding-right: 40px;
    position: relative;
    box-sizing: border-box;
    margin: -30px auto 30px auto;
    float: right;
}
.card-type {
  width: 80px;
  height: 56px;
  background: url("/images/cards.png");
  background-position: 0 -291px;
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: 4px;
}
.card-type.mastercard {
  background-position: 0 0;
}
.card-type.visa {
  background-position: 0 -115px;
}
.card-type.amex {
  background-position: 0 -57px;
}
.card-type.discover {
  background-position: 0 -174px;
}
.card-valid {
  position: absolute;
  top: 0;
  right: 15px;
  line-height: 60px;
  font-size: 40px;
  font-family: 'icons';
  color: #ccc;
}
.card-valid.active {
  color: #42ca7c;
}
.card-details {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
  transition: 300ms ease;
}
.card-details input {
  font-size: 30px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
}
.card-details input.error {
  border: 1px solid #c2313c;
  box-shadow: 0 4px 8px 0 rgba(238,76,87,0.3);
  outline: none;
}
.card-details .expiration {
  width: 50%;
  float: left;
  padding-right: 5%;
}
.card-details .cvv {
  width: 45%;
  float: left;
}
