/* GiddyUp Gallery */
.guGallery ul {
    text-align: center;
    padding: 20px 0!important;
    height: auto!important
}

.guGallery li {
    float: none!important;
    position: static!important;
    display: inline-block
}

.guGallery li>img {
    display: inline-block!important;
    height: auto!important;
    max-width: 75px!important;
    margin: 0 6px;
    cursor: pointer
}

.imageWrapper {
    height: 315px;
    padding-top: 5px
}

.imageWrapper img {
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    max-height: 315px;
    display: block;
    vertical-align: middle;
    cursor: default !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.galleryVideoWrapper {
    padding: 7px 10px 0 15px;
    /*display: none;*/
    height: 313px !important;
    overflow: hidden;
}

.galleryVideoWrapper iframe {
    max-width: 100%
}

.playButton {
    position: relative !important;
    top: 18px !important;
    padding-left: 22px!important;
    pointer-events: none;
    height: 0px;
}

.playButton img {
    width: 40px!important;
    padding: 0!important
}

.selectedThumb {
    outline: #777 solid 2px
}

/*.wrapperContainer {*/
/*height: 320px;*/
/*}*/

.galleryVideoWrapper .sproutvideo-player
{
    width: 560px;
    margin-left: -280px;
}

@media screen and (max-width:812px) {
    .galleryVideoWrapper {
        height: 217px !important;
    }

    .galleryVideoWrapper,
    .guGallery ul {
        text-align: center
    }
    .guGallery ul {
        padding: 10px 0!important;
        height: auto!important
    }
    .guGallery li {
        float: none!important;
        position: static!important;
        display: inline-block
    }
    .guGallery li>img {
        display: inline-block!important;
        height: auto!important;
        max-width: 58px!important;
        margin: 0 5px!important
    }
    .imageWrapper {
        height: 189px;
        padding-top: 35px
    }
    .imageWrapper img {
        margin: 0 auto!important;
        max-width: 80%;
        height: auto;
        max-height: 189px;
        display: block;
        vertical-align: middle
    }
    .galleryVideoWrapper iframe {
        width: 335px;
        height: 185px
    }
    .playButton {
        position: relative !important;
        top: 15px !important;
        padding-left: 17px!important;
        pointer-events: none;
        height: 0px;
    }
    .playButton img {
        width: 30px!important;
        padding: 0!important
    }
    .selectedThumb {
        outline: #777 solid 2px
    }
    /*fix for wizzi video players*/
    #main iframe {
        max-width: 100%;
    }

    .galleryVideoWrapper .sproutvideo-player
    {
        width: 335px;
        margin-left: -167.5px;
    }
}
/* GiddyUp Box */
#giddybox-innerWrapper,
.center,
.center .center-anchor,
.center-giddybox,
body,
html {
    width: 100%;
    height: 100%
}

.center {
    display: table
}

.center .center-anchor {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.center-giddybox {
    display: table
}

.center-giddybox .center-anchor {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle
}

#giddybox {
    display: none;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px!important;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background-color: rgba(0, 0, 0, .6)
}

#giddybox-wrapper {
    position: relative;
    z-index: 2;
    display: inline-block;
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 10px!important;
    background-color: #fff;
    box-shadow: 0 0 20px #111;
    -webkit-box-shadow: 0 0 20px #111;
    transition: .4s
}

#giddybox-wrapper.borderless {
    padding: 0!important
}

#giddybox-innerWrapper {
    overflow: hidden;
    -webkit-overflow-scrolling: touch
}

#giddybox-wrapper .giddybox-closeBtn {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    background-image: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/giddybox-closeBtn.png');
    text-indent: -9999px;
    cursor: pointer
}

#giddybox-storage {
    display: none
}

#giddybox.fullwidth #giddybox-wrapper {
    width: calc(100% - 20px)!important;
    padding: 0
}

#giddybox.fullwidth #giddybox-innerWrapper {
    width: 100%!important
}

#giddybox.fullheight .center-giddybox,
#giddybox.fullheight .center-giddybox .center-anchor {
    display: block
}

#giddybox.fullheight #giddybox-wrapper {
    height: 100%!important;
    padding: 0!important
}

#giddybox.fullheight #giddybox-innerWrapper {
    overflow-y: scroll;
    padding: 10px!important;
    width: calc(100% - 20px)!important;
    height: calc(100% - 20px)!important
}

#giddybox.fullheight #giddybox-wrapper.borderless #giddybox-innerWrapper,
#giddybox.fullheight.youtube #giddybox-innerWrapper {
    padding: 0!important;
    width: 100%!important;
    height: 100%!important
}

#giddybox.youtube #giddybox-wrapper {
    padding: 0!important
}

#giddybox.youtube #giddybox-innerWrapper iframe {
    display: block;
    text-align: left
}

#giddybox.fullheight.youtube #giddybox-innerWrapper iframe {
    height: 100%!important
}

#giddybox.fullwidth.youtube #giddybox-innerWrapper iframe {
    width: 100%!important
}

@media screen and (min-width:480px) {
    #giddybox-wrapper {
        transition: none
    }
    .animated {
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }
    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp
    }
    @-webkit-keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0)
        }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none
        }
    }
    @keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0)
        }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none
        }
    }
    .loading {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        text-align: center
    }
    .loading .bubblingG {
        display: inline-block;
        text-align: center;
        width: 78px;
        height: 49px;
        margin: auto!important
    }
    .loading .bubblingG span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 0 auto!important;
        background: #000;
        border-radius: 49px;
        -o-border-radius: 49px;
        -ms-border-radius: 49px;
        -webkit-border-radius: 49px;
        -moz-border-radius: 49px;
        animation: bubblingG 1.5s infinite alternate;
        -o-animation: bubblingG 1.5s infinite alternate;
        -ms-animation: bubblingG 1.5s infinite alternate;
        -webkit-animation: bubblingG 1.5s infinite alternate;
        -moz-animation: bubblingG 1.5s infinite alternate
    }
    .loading #bubblingG_1 {
        top: 0;
        animation-delay: 0s;
        -o-animation-delay: 0s;
        -ms-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s
    }
    .loading #bubblingG_2 {
        top: 0;
        animation-delay: .45s;
        -o-animation-delay: .45s;
        -ms-animation-delay: .45s;
        -webkit-animation-delay: .45s;
        -moz-animation-delay: .45s
    }
    .loading #bubblingG_3 {
        top: 0;
        animation-delay: .9s;
        -o-animation-delay: .9s;
        -ms-animation-delay: .9s;
        -webkit-animation-delay: .9s;
        -moz-animation-delay: .9s
    }
    @keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color: #000;
            transform: translateY(0)
        }
        100% {
            width: 23px;
            height: 23px;
            background-color: #fff;
            transform: translateY(-20px)
        }
    }
    @-o-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color: #000;
            -o-transform: translateY(0)
        }
        100% {
            width: 23px;
            height: 23px;
            background-color: #fff;
            -o-transform: translateY(-20px)
        }
    }
    @-ms-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color: #000;
            -ms-transform: translateY(0)
        }
        100% {
            width: 23px;
            height: 23px;
            background-color: #fff;
            -ms-transform: translateY(-20px)
        }
    }
    @-webkit-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color: #000;
            -webkit-transform: translateY(0)
        }
        100% {
            width: 23px;
            height: 23px;
            background-color: #fff;
            -webkit-transform: translateY(-20px)
        }
    }
    @-moz-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color: #000;
            -moz-transform: translateY(0)
        }
        100% {
            width: 23px;
            height: 23px;
            background-color: #fff;
            -moz-transform: translateY(-20px)
        }
    }
}


/* Header Fixed */
#header.fixed {
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 2000;
}
/* GiddyUp Checkout CSS */

body.prevent-scrolling {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.clear {
    display: block;
    width: 100%;
    height: 1px;
    clear: both
}

#checkout_overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(239, 245, 247, .95)
}

#checkout_overlay .loading,
#checkout_overlay .no_internet,
#checkout_overlay .no_server {
    display: none;
    height: auto;
    position: static;
    background: 0 0
}

#checkout_overlay .loading h1 {
    text-align: center
}

#checkout_overlay .loading_bar,
#checkout_overlay .no_internet_bar,
#checkout_overlay .no_server_bar {
    width: 100%;
    padding: 5px 0!important;
    background: #fefcd9;
    font-size: 14px;
    color: #818078;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .1)
}

#checkout_overlay .no_server_bar {
    background: #f37326!important
}

#checkout_overlay .no_internet_bar,
#checkout_overlay .no_server_bar {
    display: none;
    color: #fff;
    background: #e43
}

#checkout,
#checkout #summary {
    background: #f9f9f9;
    display: none
}

#checkout.no_internet,
#checkout.no_server {
    position: relative
}

#checkout.no_internet #checkout_overlay,
#checkout.no_server #checkout_overlay {
    position: absolute;
    display: block
}

#checkout.no_internet #checkout_overlay .loading_bar,
#checkout.no_server #checkout_overlay .loading_bar {
    display: none
}

#checkout.no_internet #checkout_overlay .no_internet_bar,
#checkout.no_server #checkout_overlay .no_server_bar {
    display: block
}

#checkout.no_internet #summary,
#checkout.no_server #summary {
    display: none!important
}

#checkout.no_internet #checkout_overlay .center .no_internet,
#checkout.no_server #checkout_overlay .center .no_server {
    display: block
}

#checkout {
    width: 100%;
    border-top: 1px solid #bcb5b9;
    border-bottom: 1px solid #bcb5b9;
    position: static;
    z-index: 9999
}

#checkout .wrapper {
    width: 600px;
    margin: 0 auto
}

#checkout .headline {
    font-size: 30px;
    margin: 10px 0 20px!important
}

#checkout #summary {
    float: left;
    position: relative;
    width: calc(100% - 761px);
    padding: 50px 40px 0!important;
    vertical-align: top;
    overflow-y: scroll;
    font-family: Helvetica Neue, sans-serif
}

#checkout #summary:before {
    content: '';
    width: 100%;
    min-height: 300px;
    background-color: #f9f9f9;
    background-image: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-loading.gif');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    transition: .3s;
    pointer-events: none
}

#checkout #summary.prep:before {
    opacity: 1
}

#checkout #summary.fixed {
    position: fixed;
    top: 0;
    right: 0
}

#checkout #summary .wrapper {
    width: 100%
}

#checkout #summary .title {
    display: none;
    border-bottom: 1px solid #e9e9e9;
    padding: 5px 0!important;
    cursor: pointer;
    background: #f9f9f9;
    transition: .3s;
    position: relative;
    z-index: 3
}

#checkout #summary .title:hover {
    background: #f3f3f3
}

#checkout #summary .title a {
    display: inline-block;
    position: relative;
    top: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #367aca;
    padding: 0 25px 0 40px!important
}

#checkout #summary .title a:before {
    content: '';
    width: 25px;
    height: 21px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-cart.svg');
    background-size: 25px 21px;
    position: absolute;
    top: 0;
    left: 0
}

#checkout #summary .title a:after {
    content: '';
    width: 15px;
    height: 8px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-arrow.svg');
    background-size: 15px 8px;
    position: absolute;
    top: 10px;
    right: 0;
    transition: .3s
}

#checkout #summary .title.active a:after {
    transform: rotate(180deg)
}

#checkout #summary .title .price {
    float: right;
    font-size: 24px;
    font-weight: 500
}

#checkout #summary .toggle {
    padding: 30px 0 20px!important
}

#checkout #summary.prep .toggle {
    opacity: 0;
    transition: .3s
}

#checkout #summary .toggle .products .product {
    margin-bottom: 10px!important
}

#checkout #summary .toggle .products .product .content {
    width: 80%;
    display: inline-block
}

#checkout #summary .toggle .products .product .content .img {
    display: inline-block;
    width: 65px;
    height: 65px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    position: relative
}

#checkout #summary .toggle .products .product .content .img .img_wrapper {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    overflow: hidden
}

#checkout #summary .toggle .products .product .content .img .img_wrapper img {
    width: 65px;
    height: auto
}

#checkout #summary .toggle .products .product .content .img .qty {
    position: absolute;
    top: -5px;
    right: -5px;
    background: rgba(153, 153, 153, .9);
    color: #fff;
    border-radius: 100%;
    padding: 4.5px 7px!important;
    font-size: 11px
}

#checkout #summary .toggle .products .product .content .txt {
    display: inline-block;
    width: calc(100% - 95px);
    height: 65px;
    vertical-align: top;
    margin-left: 10px!important
}

#checkout #summary .toggle .products .product .content .txt .label {
    font-size: 13px;
    font-weight: 500;
    color: #323232
}

#checkout #summary .toggle .products .product .content .txt .variant {
    font-size: 11px;
    opacity: .8
}

#checkout #summary .toggle .products .product .content .txt .center-anchor {
    text-align: left
}

#checkout #summary .toggle .products .product .price {
    float: right;
    height: 75px;
    font-size: 13px;
    font-weight: 500;
    color: #323232
}

#checkout #summary .toggle .products .product .price .curr {
    margin-right: -2px!important
}

#checkout #summary .toggle .extras .wrapper {
    border-top: 1px dashed #e9e9e9;
    border-bottom: 1px dashed #e9e9e9;
    padding: 40px 0 20px!important;
    margin-bottom: 20px!important
}

#checkout #summary .toggle .extras .label {
    display: inline-block;
    font-size: 14px;
    color: #535353;
    margin-bottom: 10px!important;
    -webkit-font-smoothing: antialiased
}

#checkout #summary .toggle .extras .price {
    font-size: 14px;
    font-weight: 700;
    color: #323232;
    float: right;
    -webkit-font-smoothing: antialiased
}

#checkout #summary .toggle .extras .shipping .price .curr {
    display: none
}

#checkout #summary .toggle .total .label {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px!important;
    color: #323232
}

#checkout #summary .toggle .total .price {
    float: right;
    font-size: 24px;
    font-weight: 500
}

#checkout #data #amzn_btn,
#checkout #data #paypal_btn {
    font-weight: 700;
    color: #000;
    letter-spacing: -.5px;
    padding: 12px 40px 15px!important;
    border: none;
    display: inline-block;
    margin-bottom: 5px!important;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    transition: .3s
}

#checkout #data {
    float: left;
    padding: 20px 40px!important;
    background: #fff;
    border-right: 1px solid #bcb5b9
}

#checkout #data #paypal_btn {
    background-color: #f9c520;
    border-radius: 5px
}

#checkout #data #paypal_btn:hover {
    cursor: pointer;
    background-color: #f5de32
}

#checkout #data #paypal_btn img {
    margin-left: 5px;
    position: relative;
    top: 5px
}

#checkout #data #amzn_btn {
    background-color: #fad676;
    border-radius: 5px
}

#checkout #data #amzn_btn:hover {
    cursor: pointer;
    background-color: #e5bd51
}

#checkout #data #amzn_btn img {
    margin-left: 5px;
    position: relative;
    top: 7px;
    padding-top: 3px
}

#checkout #data #applePay_btn {
    display: inline-block;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    letter-spacing: .6px;
    text-decoration: none;
    padding: 4px 20px 15px!important;
    background-color: #000;
    border: none;
    border-radius: 5px;
    transition: .3s;
    text-align: center;
    margin-bottom: 5px!important
}

#checkout #data #applePay_btn:hover {
    cursor: pointer;
    background-color: #000
}

#checkout #data #applePay_btn img {
    margin-left: 5px;
    position: relative;
    top: 8px
}

#checkout #data .hiddenButton {
    display: none!important
}

#checkout #data .divider {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 15px 0 20px!important
}

#checkout #data .divider:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 17px;
    left: 0;
    z-index: 1;
    background: #535353;
    opacity: .3
}

#checkout #data .divider p {
    display: inline-block;
    color: #535353;
    font-size: 16px;
    padding: 5px 10px!important;
    background: #fff;
    position: relative;
    z-index: 2
}

#checkout #data .method {
    display: none;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin: 25px 0 30px!important;
    padding: 30px 0 35px!important
}

#checkout #data .method .title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    padding-left: 60px!important;
    position: relative
}

#checkout #data .method .bill:before,
#checkout #data .method .ship:before {
    width: 45px;
    position: absolute;
    left: 0;
    content: ''
}

#checkout #data .method .ship:before {
    height: 22px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-shipping.svg');
    background-size: 45px 22px;
    top: 3px
}

#checkout #data .method .bill:before {
    height: 33px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/billing-address.svg');
    background-size: 45px 33px;
    top: -5px
}

#checkout #data .method .item.active .radio,
#checkout #data .method .items {
    position: relative
}

#checkout #data .method .item {
    border: 1px solid #ebebeb;
    border-bottom: none;
    border-radius: 5px;
    padding: 10px 20px 12px!important;
    background: #fff
}

#checkout #data .method .item:hover {
    background: rgba(0, 0, 0, .01);
    cursor: pointer
}

#checkout #data .method .item:last-child {
    border-bottom: 1px solid #e7e7e7
}

#checkout #data .method .item .radio {
    display: inline-block;
    margin-right: 10px!important;
    float: left
}

#checkout #data .method .item.new .radio,
#checkout #data .method .refresh {
    display: none
}

#checkout #data .method .item .radio input {
    opacity: 1;
    transition: .3s;
    pointer-events: none
}

#checkout #data .method .item .price,
#checkout #data .method .item label {
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
    transition: .3s;
    font-family: Helvatica Neue, sans-serif;
    color: #545454
}

#checkout #data .method .item .price {
    float: right;
    margin-top: 3px!important;
    color: #333;
    font-weight: 500
}

#checkout #data .method .item.new {
    pointer-events: none;
    border-bottom: 1px solid #ebebeb!important
}

#checkout #data .method .item.new label {
    font-weight: 400;
    color: #5e5e5e
}

#checkout #data .method .item.new .price {
    opacity: 0
}

#checkout #data .method .item.fetching .price {
    opacity: 1
}

#checkout #data .method .item.active .radio:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-shipping-green-check.svg') no-repeat;
    background-size: 15px 15px;
    position: absolute;
    top: 5px;
    left: 0
}

#checkout #data .method .item.active .radio input {
    opacity: 0
}

#checkout #data .method.refresh .refresh {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(0, 0, 0, .02);
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px
}

#checkout #data .method.refresh .refresh a,
#checkout #data .method.refresh .refresh p {
    display: inline-block;
    font-size: 16px;
    font-weight: 700
}

#checkout #data .method.refresh .refresh a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px!important;
    margin-left: 10px!important;
    background: #24ae4e;
    border: 1px solid #0d8900
}

#checkout #data .method.refresh .item {
    opacity: .05
}

#checkout #data .shipping .title {
    font-size: 20px;
    font-weight: 500;
    padding-left: 60px!important;
    position: relative
}

#checkout #data .shipping .title:before {
    content: '';
    width: 45px;
    height: 22px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-shipping.svg');
    background-size: 45px 22px;
    position: absolute;
    top: 3px;
    left: 0
}

#checkout #data .payment {
    display: none
}

#checkout #data .payment .title {
    font-size: 20px;
    font-weight: 500;
    padding-left: 40px!important;
    margin: 0;
    position: relative
}

#checkout #data .payment .title:before {
    content: '';
    width: 27px;
    height: 20px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-cc.svg');
    background-size: 27px 20px;
    position: absolute;
    top: 3px;
    left: 0
}

#checkout #data .method .billShip.active .radio,
#checkout #data .method .billShipOptions {
    position: relative
}

#checkout #data .payment .cc {
    float: right;
    white-space: nowrap;
    padding-right: 5px;
    max-width: 203px
}

#checkout #data .payment .cc img {
    display: inline-block;
    opacity: .1;
    transition: .3s
}

#checkout #data .payment .cc img.active {
    opacity: 1
}

#checkout #data .payment .subtitle {
    padding-left: 40px!important;
    margin-bottom: 20px!important;
    color: #535353;
    display: inline-block;
    float: left
}

#checkout #data .payment .error-msg {
    display: none;
    font-size: 16px;
    font-weight: 700;
    color: red;
    margin: 5px 0 20px!important
}

#checkout #data #billing_address_form {
    padding: 9px 7px 0!important;
    background-color: #fbf7f7;
    border-radius: 4px
}

#checkout #data .method .billShip {
    border: 1px solid #ebebeb;
    border-bottom: none;
    border-radius: 5px;
    padding: 10px 20px 12px!important;
    background: #fff
}

#checkout #data .method .billShip:hover {
    background: rgba(0, 0, 0, .01);
    cursor: pointer
}

#checkout #data .method .billShip:last-child {
    border-bottom: 1px solid #e7e7e7
}

#checkout #data .method .billShip .radio {
    display: inline-block;
    margin-right: 10px!important;
    float: left
}

#checkout #data .method .billShip .radio input {
    opacity: 1;
    transition: .3s;
    pointer-events: none
}

#checkout #data .method .billShip .price,
#checkout #data .method .billShip label {
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
    transition: .3s;
    font-family: Helvatica Neue, sans-serif;
    color: #545454
}

#checkout #data .method .billShip .price {
    float: right;
    margin-top: 3px!important;
    color: #333;
    font-weight: 500
}

#checkout #data .method .billShip.new {
    pointer-events: none;
    border-bottom: 1px solid #ebebeb!important
}

#checkout #data .method .billShip.new label {
    font-weight: 400;
    color: #5e5e5e
}

#checkout #data .method .billShip.new .price {
    opacity: 0
}

#checkout #data .method .billShip.new .radio {
    display: none
}

#checkout #data .method .billShip.fetching .price {
    opacity: 1
}

#checkout #data .method .billShip.active .radio:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-shipping-green-check.svg') no-repeat;
    background-size: 15px 15px;
    position: absolute;
    top: 5px;
    left: 0
}

#checkout #data .method .billShip.active .radio input {
    opacity: 0
}

#checkout #data .inp {
    position: relative;
    display: inline-block;
    width: calc(100% - 2px);
    margin: 0 0 5px!important
}

#checkout #data .inp .StripeElement,
#checkout #data .inp input,
#checkout #data .inp select {
    width: calc(100% - 30px)!important;
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 13px!important;
    outline: 0;
    border: 1px solid #cececf;
    border-top-color: #b5b5b6;
    border-bottom-color: #dededf;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(124, 124, 127, .1), 0 1px 0 rgba(255, 255, 255, .7), 0 0 4px rgba(86, 149, 219, 0);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    transition: .2s
}

#checkout #data .inp .StripeElement {
    height: auto;
    padding: 15px 13px!important
}

#checkout #data .inp select {
    width: 100%!important;
    height: 50px;
    color: #4a4a4a;
    font-size: 14px;
    padding: 12px 10px 0!important;
    outline: 0
}

#checkout #data .inp .StripeElement:hover,
#checkout #data .inp input:hover,
#checkout #data .inp select:hover {
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .3)
}

#checkout #data .inp .StripeElement.focus,
#checkout #data .inp input:focus {
    border-color: #72a1e2;
    box-shadow: inset 0 1px 1px rgba(76, 107, 153, .15), 0 1px 0 rgba(255, 255, 255, 0), 0 0 6px #326cc0;
    padding: 20px 13px 6px!important
}

#checkout #data .inp .StripeElement.bad,
#checkout #data .inp .StripeElement.focus,
#checkout #data .inp .StripeElement.good {
    padding: 22px 13px 8px!important
}

#checkout #data .inp input:focus::-ms-input-placeholder,
#checkout #data .inp input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: .1s
}

#checkout #data .inp input:focus::-moz-placeholder {
    opacity: 0
}

#checkout #data .inp input::-ms-clear,
#checkout #data .inp select::-ms-clear {
    display: none
}

#checkout #data .inp select::-ms-expand {
    display: none
}

#checkout #data .inp label {
    display: none;
    position: absolute;
    top: 5px;
    left: 15px;
    pointer-events: none;
    font-size: 10px
}

#checkout #data .inp.filled input {
    padding: 20px 13px 6px!important
}

#checkout #data .inp.filled.good input {
    width: calc(100% - 67px)!important
}

#checkout #data .inp.good input {
    padding: 20px 50px 6px 13px!important
}

#checkout #data .StripeElement.good,
#checkout #data .inp.good input,
#checkout #data .inp.good select {
    border-color: #7dc001;
    box-shadow: inset 0 0 1px 1px #7dc001
}

#checkout #data .StripeElement.bad,
#checkout #data .inp.bad input,
#checkout #data .inp.bad select {
    border-color: red;
    box-shadow: inset 0 0 1px 1px red;
    padding: 20px 13px 6px!important
}

#checkout #data .inp.good:after {
    content: '';
    width: 20px;
    height: 20px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-check.svg');
    background-size: 20px 20px;
    position: absolute;
    top: 16px;
    right: 20px
}

#checkout #data .inp.good label {
    color: #7dc001
}

#checkout #data .inp.bad label {
    color: red
}

#checkout #data .inp.promo button,
#checkout #data .submit {
    background: #24ae4e;
    color: #fff;
    font-weight: 700;
    transition: .3s;
    text-align: center;
    text-transform: uppercase;
    outline: 0
}

#checkout #data .promoWrap {
    display: none;
    width: 100%;
    margin-bottom: 15px!important
}

#checkout #data .promoWrap.show {
    display: inline-block
}

#checkout #data .promoWrap h3 {
    margin: 0 0 10px
}

#checkout #data .formSpace,
#checkout #data .marginRight1 {
    margin-right: 1%!important
}

#checkout #data .inp.promo {
    width: 100%
}

#checkout #data .inp.promo.good:after {
    right: 95px
}

#checkout #data .inp.promo.good input {
    padding: 20px 13px 6px!important
}

#checkout #data .inp.promo.filled input {
    width: calc(100% - 30px)!important;
    padding: 20px 13px 6px!important
}

#checkout #data .inp.promo button {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px
}

#checkout #data .inp.address1,
#checkout #data .inp.address2,
#checkout #data .inp.cc-cvc,
#checkout #data .inp.fname,
#checkout #data .inp.lname {
    width: 49%
}

#checkout #data .inp.cc-exp {
    width: 50%
}

#checkout #data .inp.country {
    width: 40%
}

#checkout #data .inp.country.noState {
    width: 69%!important
}

#checkout #data .inp.country.noState.noZip {
    width: 100%!important
}

#checkout #data .inp.billing_country.noState {
    width: 69%!important
}

#checkout #data .inp.billing_country.noState.noZip {
    width: 100%!important
}

#checkout #data .inp.state,
#checkout #data .inp.zip {
    width: 28%
}

#checkout #data .fullWidth {
    width: 100%!important
}

#checkout #data .inp.country label {
    display: block
}

#checkout #data .inp.cc-cvc {
    margin-right: 0!important;
    vertical-align: top;
    position: relative
}

#checkout #data .inp.cc-cvc input {
    width: calc(100% - 63px)!important;
    padding-right: 46px!important
}

#checkout #data .inp.cc-cvc.good:after, #checkout #data .inp.phone.good:after {
    right: 40px
}

#checkout #data .inp.cc-cvc .question, #checkout #data .inp.phone .question {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px
}

#checkout #data .inp.cc-cvc .question img, #checkout #data .inp.phone .question img {
    opacity: .3;
    transition: .3s
}

#checkout #data .inp.cc-cvc .question.active img,
#checkout #data .inp.cc-cvc .question:hover img,
#checkout #data .inp.phone .question.active img,
#checkout #data .inp.phone .question:hover img{
    opacity: 1
}

#checkout #data .inp.cc-cvc .question.active::after,
#checkout #data .inp.cc-cvc .question.active::before,
#checkout #data .inp.phone .question.active::after,
#checkout #data .inp.phone .question.active::before{
    opacity: 1;
    visibility: visible
}

#checkout #data .submit {
    display: block;
    width: 330px;
    padding: 20px 40px!important;
    margin: 20px auto 10px!important;
    font-size: 20px;
    border: none;
    border-radius: 5px
}

#checkout #data .submit:hover {
    cursor: pointer;
    background: #7aa631
}

#checkout #data .submit.next {
    background: #25ae4e
}

#checkout.deactivate #data .submit {
    color: rgba(255, 255, 255, .3);
    background: #aaa!important;
    pointer-events: none
}

#checkout #data .inp.billing_country:before,
#checkout #data .inp.country:before {
    content: '';
    width: 1px;
    height: 60%;
    background: #868686;
    position: absolute;
    top: 20%;
    right: 50px;
    z-index: 2;
    pointer-events: none
}

#checkout #data .inp.billing_country:after,
#checkout #data .inp.country:after {
    content: '';
    width: 14px;
    height: 8px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-form-arrow.svg');
    background-size: 14px 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 18px;
    z-index: 2;
    pointer-events: none
}

#checkout #data .inp.cc-number.good:after,
#checkout #data .inp.cc-number:after {
    content: '';
    height: 20px;
    position: absolute;
    right: 20px
}

#checkout #data .inp.cc-number:after {
    width: 16px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-lock.svg');
    background-size: 16px 20px;
    top: 15px
}

#checkout #data .inp.cc-number.good:after {
    width: 20px;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-check.svg');
    background-size: 20px 20px;
    top: 16px
}

[data-title] {
    position: relative;
    padding: 0
}

[data-title]::before,
[data-title]:not(.inp)::after {
    position: absolute;
    left: 6px;
    top: -40px;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    background: #24ae4e;
    -moz-transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -moz-transition: opacity .2s 50ms linear;
    -webkit-transition: opacity .2s 50ms linear;
    -ms-transition: opacity .2s 50ms linear;
    -o-transition: opacity .2s 50ms linear;
    transition: opacity .2s 50ms linear
}

[data-title]::before {
    content: attr(data-title);
    width: 200px;
    padding: 8px;
    margin: 30px 0 0 -100px;
    font: 700 12px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    cursor: default;
    border-radius: 4px
}

[data-title]:not(.inp)::after {
    content: '';
    width: 8px;
    height: 8px;
    margin: 26px 0 0;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

#checkout .upsell {
    position: relative
}

#checkout .upsell .timer {
    display: none;
    padding: 5px 10px 10px;
    background: #d7f5ff;
    border: 1px solid #025774;
    position: absolute;
    top: -44px;
    right: -1px
}

#checkout .upsell .timer p {
    font-size: 14px;
    color: #025774
}

#checkout .upsell .timer p:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px!important;
    background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-watch-icon.svg');
    background-size: 16px 16px;
    position: relative;
    top: 3px
}

#checkout .upsell .timer p span {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 2px;
    margin-left: 5px!important
}

#checkout .upsellAccept {
    background-color: #fdfbc3; /*border: 1px solid #e4e4e4;*/ max-width: 80%; margin: 5px auto !important; border-radius: 5px; text-align: center;
}
#checkout .upsellAcceptText {
    color: #444444; text-align: center; font-weight: bold; font-size: 16px; transition: .3s; text-transform: uppercase; max-width: 75%; padding: 15px 0px;; display: inline-block;
}
#checkout .upsellCheck {
    display: inline-block; width: 20px; position: relative; margin: 20px auto;
}
#checkout .upsellCheck label {
    width: 20px; height: 20px; cursor: pointer; position: absolute; top: 0; left: 0; background: #f3f3f3; border-radius: 4px; /*box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/ border: 1px solid;
}
#checkout .upsellCheck label:after {
    transition: 0.3s; content: ''; width: 9px; height: 5px; position: absolute; top: 4px; left: 4px; border: 3px solid #333; border-top: none; border-right: none; background: transparent; opacity: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
}
/*#checkout .upsellCheck label:hover::after {
 opacity: 0.5;
 }*/
#checkout .upsellCheck input[type=checkbox] {
    visibility: hidden;
}
#checkout .upsellCheck input[type=checkbox]:checked + label:after {
    opacity: 1;
}

#checkout .upsell {
    max-width: 1015px;
    border: 1px solid #c9c9c9;
    width: auto !important;
    min-width: auto !important;
}

#checkout .upsell .cta a, .inlineUpsell .cta {
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

#checkout .upsell .cta a, .inlineUpsell .cta a {
    font-weight: bold;
    font-size: 19px;
    transition: .3s;
    text-transform: uppercase;
    margin: 20px auto;
    width: 65%;
    box-shadow: 0 2px 0px 0px #2a4a58;
    border-radius: 5px;
    padding: 15px;
    display: block;
}

#checkout #alert,
#checkout #conf {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0
}

#checkout #conf {
    display: none;
    width: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .4)
}

#checkout #conf .wrapper {
    display: inline-block;
    width: auto;
    background: #fff;
    padding: 20px 30px!important
}

#checkout #conf .wrapper img {
    margin-bottom: 10px
}

#checkout #conf .wrapper p {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: -3px 0 0 5px!important
}

#checkout #alert {
    display: none;
    width: 100%;
    z-index: 102;
    background: rgba(0, 0, 0, .4)
}

#checkout #alert .wrapper {
    display: inline-block;
    width: auto;
    background: #fff;
    padding: 20px 30px!important
}

#checkout #alert button {
    display: block;
    width: 330px;
    padding: 20px!important;
    margin: 20px auto 10px!important;
    background: #24ae4e;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    outline: 0;
    transition: .3s
}

#checkout #alert button:hover {
    cursor: pointer;
    background: #7aa631
}

#checkout .empty_space {
    width: 100%
}

#footer #footer-disclaimer
{
    max-width: 710px;
    margin: 0 auto;
    line-height: 1.3;
    padding: 10px 5px 15px 5px;
    display: none;
}

@media screen and (max-width:1030px) {
    #checkout {
        border: none
    }
    #checkout #summary {
        width: 100%;
        padding: 0!important;
        float: none;
        background: #f9f9f9;
        border-top: 1px solid #bcb5b9;
        border-bottom: 1px solid #e9e9e9;
        position: fixed;
        top: 0;
        z-index: 999;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, .2)
    }
    #checkout #summary:before {
        display: none
    }
    #checkout #summary .wrapper {
        width: 600px
    }
    #checkout #summary .title {
        display: block;
        position: relative
    }
    #checkout #summary .title .price:before {
        content: '';
        width: 100%;
        height: 100%;
        background: url('https://d1wm9da2gb6zwg.cloudfront.net/assets/checkout-loading.gif') center center no-repeat #f9f9f9;
        background-size: 20px 20px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        opacity: 0;
        transition: .3s;
        pointer-events: none
    }
    #checkout #summary.prep .title .price:before {
        opacity: 1
    }
    #checkout #summary .toggle {
        display: none;
        max-height: 220px;
        overflow: scroll!important;
        padding: 30px 0 20px!important
    }
    #checkout #summary .toggle .extras .wrapper {
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        padding: 20px 0 10px!important;
        margin-bottom: 10px!important
    }
    #checkout #summary .toggle .total .label {
        font-weight: 400
    }
    #checkout #summary .toggle .total .price .value {
        font-weight: 500
    }
    #checkout #data {
        padding: 20px 0!important;
        float: none;
        border: none
    }
}

@media screen and (max-width:770px) {
    #checkout #summary .wrapper,
    #checkout .wrapper {
        width: calc(100% - 40px)
    }
    #checkout .wrapper {
        padding: 0 20px!important;
        margin: 0!important
    }
    #checkout .center {
        margin-top: 40px!important
    }
    #checkout .center,
    #checkout .center .center-anchor {
        height: auto
    }
    #checkout_overlay .center,
    #checkout_overlay .center .center-anchor,
    #conf .center,
    #conf .center .center-anchor {
        height: 100%
    }
    #checkout #summary .title {
        padding: 10px 0!important
    }
    #checkout #summary .title a {
        font-size: 17px;
        text-decoration: none;
        padding: 0 25px 0 30px!important;
        top: 2px
    }
    #checkout #summary .title a:before {
        width: 22px;
        height: 18px;
        background-size: 22px 18px
    }
    #checkout #summary .title a:after {
        top: 7px
    }
    #checkout #summary .title .price .value {
        font-size: 20px
    }
    #checkout #summary .toggle .extras .wrapper {
        padding: 20px 20px 10px!important;
        margin: 0 0 10px!important
    }
    #checkout #data .method .title,
    #checkout #data .shipping .title {
        margin-bottom: 20px!important
    }
    #checkout .headline {
        font-size: 22px;
        text-align: center
    }
    #checkout #data .inp.address1,
    #checkout #data .inp.address2,
    #checkout #data .inp.email,
    #checkout #data .inp.fname,
    #checkout #data .inp.lname,
    #checkout #data .inp.phone {
        width: 100%
    }

    #checkout #data .inp.country {
        width: 99%
    }
    #checkout #data .inp.state,
    #checkout #data .inp.zip {
        width: 48.8%
    }
    #checkout #data .inp.good:after {
        top: 14px
    }
    #checkout #data .inp select {
        height: 46px
    }
    #checkout #data .inp.state.noZip,
    #checkout #data .inp.zip.noState {
        width: 100%!important
    }
    #checkout #data .inp.promo {
        width: 100%
    }
    #checkout #data .method .item .price,
    #checkout #data .method .item label {
        font-size: 12px
    }
    #checkout #data .method.refresh .refresh {
        width: 99%
    }
    #checkout #data .method.refresh .refresh .center,
    #checkout #data .method.refresh .refresh .center .center-anchor {
        height: 100%;
        margin: 0!important
    }
    #checkout #data .payment .cc {
        padding: 0 6px 6px 0!important;
        float: left
    }
    #checkout #data .payment .cc img {
        height: 32px
    }
    #checkout #data #amzn_btn,
    #checkout #data #applePay_btn,
    #checkout #data #paypal_btn {
        display: block
    }
    #checkout #data .inp.cc-cvc,
    #checkout #data .inp.cc-exp {
        width: 49.2%!important
    }
    #checkout #data .inp.cc-cvc {
        margin-right: 0!important
    }
    #checkout #data .inp.cc-cvc input {
        padding-right: 44px!important
    }
    #checkout #data .question {
        margin: -3px 5px!important;
        padding: 10px!important;
        top: 5px!important;
        right: 1px!important
    }
    #checkout #data .subtitle {
        font-size: 15px
    }
    [data-title]::before {
        left: -80px
    }
    [data-title]:not(.inp)::after {
        left: 15px
    }
    #checkout #summary .toggle .products .product .content .img .qty {
        font-size: 14px;
        padding: 3px 7px!important;
        top: -10px;
        right: -10px
    }
    #checkout #summary .toggle .products .product .content .center {
        margin: 0!important;
        height: 100%!important
    }
    #checkout #summary .toggle .products .product .content .txt .label,
    #checkout #summary .toggle .products .product .price {
        font-size: 14px
    }
    #checkout #summary .toggle .total .price .value {
        font-size: 21px
    }
    #checkout #data .submit {
        width: 75%;
        text-decoration: none
    }
    #checkout .upsell {
        /*position: absolute;*/
        top: 30px;
        width: calc(100% - 40px);
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        background: #fff;
        padding: 0 20px!important
    }
    #checkout .upsell .timer {
        display: block;
        position: relative;
        top: 0;
        background: #f9f9f9;
        border: none;
        padding: 10px 0!important;
        margin: 20px 0!important
    }

}
@media only screen and (max-width: 480px) {
    #bannerHeadline { font-size: 22px!important }
}
.timer-column {
    font-size: 17px;
    color: #000;
    float: left;
    width: 45px;
    height: 49px;
    text-align: center;
    margin-right: 8px;
}

.timer-number {
    font-size: 28px;
    font-weight: 700;
}

.timer-label {
    font-size: 9px;
    padding-top: 2px;
    font-weight: 500;
}

#countdownTimer {
    text-align: left;
    padding-left: 120px;
}

/* Light Version */
#countdownTimerWrapper {
    color: white;
    text-align: center;
    background-color: #fff;
    z-index: 1001;
    width: 180px;
    height: 49px;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-top: 6px;
}

/* Dark Version */
.dark #countdownTimerWrapper {
    text-align: center;
    background: none;
    color: #fff;
    z-index: 1001;
    width: 180px;
    height: 49px;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-top: 16px;
}

.dark #countdownTimerWrapper .timer-number {
    background: #000;
    color: #fff;
    border-radius: 3px;
    padding: 4px 0 4px 4px;
}

.dark #countdownTimerWrapper .timer-number {
    letter-spacing: 1.8px;
    text-align: center;
}

/* Mobile Splash Page Header Text */
@media only screen and (max-width: 640px) {
    #header .e1
    {
        position: relative;
        top: -18px;
    }
}
@media only screen and (max-width: 684px) and (min-width: 641px) {
    #header .e1
    {
        position: relative;
        top: -42px;
    }

}
